<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="io.github.pleuvoir.manager.dao.pay.PayProductDao">

	<sql id="select_all">
		SELECT id,pay_type_code,pay_way_code,name,status,remark FROM p_pay_product 
	</sql>
 
 	<resultMap id="paramRs" type="io.github.pleuvoir.manager.model.po.pay.PayProductPO">
			  <result column="id" 		property="id"/>
			  <result column="pay_type_code" 		property="payTypeCode"/>
			  <result column="pay_way_code" 		property="payWayCode"/>
			  <result column="name" 				property="name"/>
			  <result column="status" 				property="status"/>
			  <result column="remark" 				property="remark"/>
			  <result column="pay_type_name" 		property="payTypeName"/>
			  <result column="pay_way_name" 		property="payWayName"/>
    </resultMap>
    
    <select id="find" resultMap="paramRs">
    	SELECT 
		  pp.*,
		  pt.pay_type_name,
		  pw.pay_way_name 
		FROM
		  p_pay_product pp 
		  LEFT JOIN p_pay_type pt 
		    ON pp.pay_type_code = pt.pay_type_code 
		  LEFT JOIN p_pay_way pw 
		    ON pp.pay_way_code = pw.pay_way_code 
    	<where>
    			<if test="form.id!=null and form.id!=''">AND pp.id = #{form.id}</if>
    			<if test="form.payTypeCode!=null and form.payTypeCode!=''">AND pp.pay_type_code = #{form.payTypeCode}</if>
    			<if test="form.payWayCode!=null and form.payWayCode!=''">AND pp.pay_way_code = #{form.payWayCode}</if>
    			<if test="form.name!=null and form.name!=''">AND pp.name like #{form.name}</if>
    			<if test="form.status!=null and form.status!=''">AND pp.status = #{form.status}</if>
    			<if test="form.remark!=null and form.remark!=''">AND pp.remark = #{form.remark}</if>
    	</where> 
    </select>
    
</mapper>